#movie-credits {
  padding: 0 48px;
  margin-bottom: 48px;
  min-height: 429.62px;
  display: flex;
  gap: 32px;

  @media (max-width: 1024px) {
    min-height: auto;
    gap: 24px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 32px;
  }

  @media (max-width: 441px) {
    padding: 0 16px;
    gap: 16px;
  }

  #poster {
    width: 290px;
    height: fit-content;
    border-radius: 8px;

    @media (max-width: 1024px) {
      width: 250px;
    }

    @media (max-width: 1024px) and (max-height: 576px){
      width: 225px;
    }

    @media (max-width: 768px) {
      width: 270px;
    }

    @media (max-width: 441px) {
      width: 100%;
    }
  }

  #credits {
    width: calc(100% - 290px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-bottom: 8px;

    @media (max-width: 1024px) {
      width: calc(100% - 250px);
    }

    @media (max-width: 1024px) and (max-height: 576px){
      gap: 0px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-bottom: 32px;
    }

    @media (max-width: 441px) {
      padding-bottom: 16px;
      gap: 0;
    }

    .line {
      display: flex;
      padding: 8px 0;

      a {
        text-decoration: underline;
        text-decoration-color: #888;
      }

      p,
      a {
        font-weight: 500;
        white-space: nowrap;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          font-size: small;
          white-space: nowrap;
        }

        &:first-child {
          min-width: 280px;
          color: #575656;
          font-weight: 600;

          @media (max-width: 1280px) {
            min-width: 200px;
          }

          @media (max-width: 1024px) {
            min-width: 160px;
          }

          @media (max-width: 900px) {
            min-width: 140px;
          }

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            min-width: 120px;
          }
        }
      }

      &.others p span {
        border-right: 2px solid;
        padding-right: 10px;
        margin-right: 10px;

        @media (max-width: 1024px) {
          border-right: 1px solid;
        }
      }

      &.rating span {
        &:nth-child(1) {
          width: 60px;

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            width: 45px;
          }
        }
        &:nth-child(2) {
          padding-left: 2px;
        }

        width: 40px;
        height: 18px;
        line-height: 18px;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border: solid 1px #fff9;
        border-radius: 4px;
        margin-right: 5px;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          width: 30px;
          height: 14px;
          line-height: 14px;
          font-size: 10px;
          border-radius: 3px;
        }

        &.mini {
          width: 40px;
        }
      }

      &.language span {
        width: 40px;
        height: 18px;
        line-height: 18px;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        border: solid 1px #fff9;
        border-radius: 4px;
        margin-right: 5px;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          width: 30px;
          height: 14px;
          line-height: 14px;
          font-size: 10px;
          border-radius: 3px;
        }
      }

      &.quality span {
        &:nth-child(1) {
          width: 80px;

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            width: 58px;
          }

          &.small {
            width: 60px;

            @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
              width: 45px;
            }
          }
        }

        width: 40px;
        height: 18px;
        line-height: 18px;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        border: solid 1px #fff9;
        border-radius: 4px;
        margin-right: 5px;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          width: 30px;
          height: 14px;
          line-height: 14px;
          font-size: 10px;
          border-radius: 3px;
        }
      }
    }
  }

  #authors {
    width: calc(100% - 290px);
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-bottom: 8px;

    @media (max-width: 1280px) {
      gap: 24px;
    }

    @media (max-width: 1024px) {
      width: calc(100% - 250px);
      gap: 12px;
    }

    @media (max-width: 768px) {
      border: none;
      width: 100%;
    }

    .producers,
    .directors,
    .screenwriters {
      position: relative;

      h3 {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.12px;
        margin-bottom: 20px;
        text-align: end;
        padding: 8px 0;

        @media (max-width: 1280px) {
          margin-bottom: 10px;
        }

        @media (max-width: 1024px) {
          font-size: 20px;
        }

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          margin-bottom: 0;
        }

        @media (max-width: 768px) {
          text-align: start;
        }

        @media (max-width: 441px) {
          text-align: center;
          margin-bottom: 4px;
        }
      }

      .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 12px;

        @media (max-width: 768px) {
          justify-content: flex-start;
        }

        @media (max-width: 441px) {
          flex-direction: column;
          align-items: center;
        }

        .producer,
        .director,
        .screenwriter {
          height: 40px;

          width: max-content;
          display: flex;
          align-items: center;
          gap: 8px;

          padding: 2px 16px 2px 2px;
          border-radius: 10em;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.1) 100%
          );

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 768px) {
            height: 34px;
            padding: 1px 12px 1px 1px;
          }

          @media (max-width: 441px) {
            width: 100%;
            max-width: none;
          }

          img {
            width: 36px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            @media (max-width: 1024px) and (max-height: 576px) and (min-width: 768px) {
              width: 32px !important;
            }
          }

          p {
            white-space: nowrap;
            font-size: 14px;
            font-weight: 500;

            @media (max-width: 441px) {
              font-size: 15px;
            }
          }

          @media (max-width: 1024px) {
            img {
              width: 40px;
            }

            h3 {
              font-size: 14px;
            }

            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
