#player {
  position: relative;
  z-index: 1;

  .container {
    padding: 0 48px !important;
    max-width: none !important;

    @media (max-width: 440px) {
      padding: 0 16px !important;
    }
  }

  .container {
    .title {
      margin: 6px 0 24px;

      .description {
        margin-bottom: 32px;
        color: var(--text-color);
        opacity: 80%;

        @media (max-width: 1024px) and (max-height: 576px) {
          font-size: 13px;
        }

        @media (max-width: 440px) {
         text-align: center;
        }
      }

      .casts {
        position: relative;
        h2 {
          color: var(--text-color);
          font-size: 28px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0.12px;
          margin-bottom: 20px;

          @media (max-width: 1024px) and (max-height: 576px) {
            font-size: 20px;
          }

          @media (max-width: 440px) {
            text-align: center;
           }
        }

        .left {
          width: 100px;
          height: calc(100% - 46px);
          background: linear-gradient(to left, transparent, #0d0d0dc4 90%);
          position: absolute;
          top: 46px;
          left: 0;
          z-index: 2;

          display: flex;
          align-items: center;
          justify-content: start;
          visibility: hidden;
          transition: 0.2s;
          opacity: 0;

          @media (max-width: 1024px) and (max-height: 576px) {
            width: 60px;
            display: flex !important;
          }

          @media (max-width: 1000px) {
            display: none;
          }

          &,
          * {
            cursor: pointer;
          }

          svg {
            font-size: 24px;
            opacity: 75%;

            @media (max-width: 1024px) and (max-height: 576px) {
              font-size: 18px;
            }
          }
        }

        .right {
          width: 100px;
          height: calc(100% - 46px);
          background: linear-gradient(to right, transparent, #0d0d0dc4 90%);
          position: absolute;
          top: 46px;
          right: 0;
          z-index: 2;

          display: flex;
          align-items: center;
          justify-content: end;
          visibility: hidden;
          transition: 0.2s;
          opacity: 0;

          @media (max-width: 1024px) and (max-height: 576px) {
            width: 60px;
            display: flex !important;
          }

          @media (max-width: 1000px) {
            display: none;
          }

          &,
          * {
            cursor: pointer;
          }

          svg {
            font-size: 24px;
            opacity: 75%;

            @media (max-width: 1024px) and (max-height: 576px) {
              font-size: 18px;
            }
          }
        }

        &:hover {
          .left {
            visibility: visible;
            opacity: 1;
          }
          .right {
            visibility: visible;
            opacity: 1;
          }
        }

        .scrolling {
          display: flex;
          overflow-x: auto;
          scroll-behavior: smooth;

          .wrapper {
            display: flex;
            gap: 24px;

            .cast {
              width: max-content;
              display: flex;
              align-items: center;
              gap: 6px;

              img {
                width: 60px;
                border-radius: 50%;
              }

              h3 {
                white-space: nowrap;
              }

              p {
                font-size: 15px;
                white-space: nowrap;
              }

              @media (max-width: 1024px) and (max-height: 576px) {
                img {
                  width: 40px;
                }

                h3 {
                  font-size: 14px;
                }

                p {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }

    .player {
      margin: 60px 0;
      display: flex;
      gap: 24px;

      @media (max-width: 1024px) and (max-height: 576px) {
        margin: 40px 0;
      }

      @media (max-width: 440px) {
        flex-direction: column;
          margin: 40px 0;
      }

      .plyr {
        border-radius: 12px;
        width: calc(100% - 300px);

        @media (max-width: 1024px) and (max-height: 576px) {
          width: calc(100% - 200px);
        }

        @media (max-width: 440px) {
          width: 100%;
        }

        .plyr__controls__item * {
          cursor: pointer;
        }
      }

      .need {
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        background: rgba(255, 255, 255, 0.08);
        width: calc(100% - 300px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        @media (max-width: 1024px) and (max-height: 576px) {
          width: calc(100% - 200px);
        }

        @media (max-width: 440px) {
          width: 100%;
          padding: 40px 12px;
        }

        p {
          font-size: 18px;
          text-align: center;

          @media (max-width: 1024px) and (max-height: 576px) {
            font-size: 16px;
          }

          @media (max-width: 440px) {
            font-size: 16px;
          }
        }

        .sign {
          display: flex;
          gap: 10px;

          a {
            padding: 6px 32px;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.06);
            background: rgba(255, 255, 255, 0.08);

            @media (max-width: 1024px) and (max-height: 576px) {
              padding: 4px 26px;
              font-size: 15px;
            }
          }
        }
      }

      .credits {
        width: 300px;
        margin-top: 2px;

        @media (max-width: 1024px) and (max-height: 576px) {
          width: 200px;
        }

        @media (max-width: 440px) {
          width: 100%;
        }

        .card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 8px;

          @media (max-width: 1024px) and (max-height: 576px) {
            font-size: 12px;
          }

          &.admitted span {
            font-size: 14px;
            padding: 0 8px 0 10px;
            border: solid 1px #fff9;
            border-radius: 6px;
            margin-left: 4px;

            @media (max-width: 1024px) and (max-height: 576px) {
              font-size: 11px;
              padding: 0 6px 0 8px;
              border-radius: 5px;
              margin-left: 3px;
            }
          }

          &.language span {
            text-transform: uppercase;
            font-size: 14px;
            padding: 1px 9px 0 9px;
            border: solid 1px #fff9;
            border-radius: 6px;
            margin-left: 6px;

            @media (max-width: 1024px) and (max-height: 576px) {
              font-size: 11px;
              padding: 1px 7px 0 7px;
              border-radius: 5px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
