#movie-player {
  position: relative;
  z-index: 1;

  .title {
    margin-bottom: 24px;

    .description {
      margin-bottom: 32px;
      color: var(--text-color);
      padding: 0 48px;
      opacity: 80%;

      @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
        font-size: 13px;
      }

      @media (max-width: 768px) {
        padding: 0 32px;
        text-align: center;
        text-wrap: balance;
      }

      @media (max-width: 440px) {
        padding: 0 16px;
        margin-bottom: 16px;
      }
    }

    .casts {
      position: relative;

      h2 {
        color: var(--text-color);
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.12px;
        padding: 0 48px;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          font-size: 20px;
        }

        @media (max-width: 768px) {
          padding: 0 32px;
          text-align: center;
        }

        @media (max-width: 440px) {
          padding: 0 16px;
        }
      }

      .left {
        width: 100px;
        height: calc(100% - 26px);
        background: linear-gradient(to right, #0d0d0dc4, transparent);
        padding-right: 40px;
        position: absolute;
        top: 26px;
        left: 0;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        transition: 0.2s;
        opacity: 0;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          width: 60px;
          display: flex !important;
        }

        @media (max-width: 1000px) {
          display: none;
        }

        &,
        * {
          cursor: pointer;
        }

        svg {
          font-size: 24px;
          opacity: 75%;

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            font-size: 18px;
          }
        }
      }

      .right {
        width: 100px;
        height: calc(100% - 26px);
        background: linear-gradient(to left, #0d0d0dc4, transparent);
        padding-left: 40px;
        position: absolute;
        top: 26px;
        right: 0;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        transition: 0.2s;
        opacity: 0;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          width: 60px;
          display: flex !important;
        }

        @media (max-width: 1000px) {
          display: none;
        }

        &,
        * {
          cursor: pointer;
        }

        svg {
          font-size: 24px;
          opacity: 75%;

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            font-size: 18px;
          }
        }
      }

      &:hover {
        .left {
          visibility: visible;
          opacity: 1;
        }
        .right {
          visibility: visible;
          opacity: 1;
        }
      }

      .scrolling {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;

        .wrapper {
          display: flex;
          gap: 24px;
          padding: 20px 48px;

          @media (max-width: 768px) {
            padding: 19px 32px;
          }

          @media (max-width: 440px) {
            padding: 18px 16px;
          }

          .cast {
            width: max-content;
            display: flex;
            align-items: center;
            gap: 6px;

            img {
              width: 60px;
              border-radius: 50%;

              @media (max-width: 440px) {
                width: 50px;
              }
            }

            h3 {
              white-space: nowrap;

              @media (max-width: 440px) {
                font-size: 15px;
              }
            }

            p {
              font-size: 15px;
              white-space: nowrap;

              @media (max-width: 440px) {
                font-size: 14px;
              }
            }

            @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
              img {
                width: 40px;
              }

              h3 {
                font-size: 14px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .watching {
    padding: 0 48px;

    @media (max-width: 768px) {
      padding: 0 32px;
    }

    @media (max-width: 440px) {
      padding: 0 16px;
    }

    @import "../library/player.scss";

    #need {
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.06);
      background: rgba(255, 255, 255, 0.07);
      width: 100%;
      height: 44vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 0 48px;

      @media (max-width: 440px) {
        padding: 40px 12px;
        gap: 20px;
      }

      p {
        font-size: 18px;
        text-align: center;

        @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
          font-size: 16px;
        }

        @media (max-width: 440px) {
          font-size: 16px;
        }
      }

      .sign {
        display: flex;
        gap: 10px;

        @media (max-width: 440px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        a {
          padding: 6px 32px;
          border-radius: 6px;
          border: 1px solid rgba(255, 255, 255, 0.06);
          background: rgba(255, 255, 255, 0.08);

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            padding: 4px 26px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
