nav#sidebar {
  width: 240px;
  height: 100%;
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--border-primary);
  background-image: url("/admin/abstract/background.webp");
  background-position: 0, center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: var(--bg-secondary-rgb), $alpha: 0.95);
    backdrop-filter: blur(32px);
  }

  #wrapper {
    width: 100%;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    z-index: 2;

    .logo {
      height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      padding: 0 32px;

      img {
        max-width: 40px;
        max-height: 40px;
        min-height: 40px;

        width: fit-content;
        height: 100%;
        cursor: pointer;
        transition: 0.25s ease-out;
      }

      h1 {
        font-size: 22px;
        line-height: 150%;
        font-weight: 600;
        color: var(--color-primary);
        cursor: pointer;
        transition: 0.2s ease-out;
      }
    }

    ul {
      position: relative;

      li a {
        height: 48px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding-left: 24px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        span {
          font-weight: 300;
          transition: 0.2s ease-out;
        }

        &.active {
          span {
            color: var(--text-color);
            font-weight: 400;
          }
        }

        &,
        * {
          cursor: pointer;
        }
      }

      .interactive {
        position: absolute;
        top: 0;
        width: 100%;
        height: 48px;

        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.06) 0%,
          rgba(255, 255, 255, 0) 100%
        );

        &::before {
          content: "";
          position: absolute;
          z-index: 0;
          top: 0;
          right: 0;
          width: 5px;
          height: 100%;
          background: var(--color-primary);
          border-radius: 3px 0 0 3px;
          box-shadow: 0 0 20px var(--color-primary);
        }
      }
    }
  }

  #account {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;

    ul.language {
      padding: 4px 4px 3px 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      background: rgba($color: var(--bg-primary-rgb), $alpha: 0.7);
      border: 1px solid var(--border-primary);
      border-radius: 10px;
      position: relative;

      li.lng {
        width: 34%;
        height: 32px;
        position: relative;
        z-index: 3;

        span {
          width: 100%;
          display: inline-block;
          text-align: center;

          padding-top: 1px;
          line-height: 31px;
          font-size: 13px;
          cursor: pointer;
          text-transform: uppercase;
          transition: 0.2s;
        }

        &.active span {
          padding-top: 0px;
          line-height: 32px;
        }
      }

      .interactive {
        position: absolute;
        top: 4;
        left: 4;
        width: 60.48px;
        height: 32px;
        padding: 4px;
        background: var(--bg-secondary);
        border-radius: 7px;
        overflow: hidden;
        border: 1px solid var(--border-primary);

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 4px;
          background: var(--color-primary);
          border-radius: 3px 3px 0 0;
          box-shadow: 0 0 15px var(--color-primary);
        }
      }
    }

    a.back {
      height: 50px;
      padding: 8px;
      display: flex;
      align-items: center;
      border: 1px solid var(--border-primary);
      background: rgba($color: var(--border-primary-rgb), $alpha: 0.4);
      border-radius: 10px;

      &,
      * {
        cursor: pointer;
      }

      img {
        width: 32px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .name {
        width: calc(100% - 64px);

        h3 {
          font-size: 11px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-size: 9px;
          color: var(--text-many);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      svg {
        margin: 0 4px;
      }
    }
  }
}
