main#admin-users #content {
  width: 100%;

  #statistics {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;

    .card {
      width: 100%;
      height: 8vw;
      border: 1px solid var(--border-secondary);
      background: var(--border-primary);
      border-radius: 10px;
    }
  }

  #table {
    border: 1px solid var(--border-secondary);
    background: var(--bg-secondary);
    border-radius: 10px;
    overflow: hidden;

    #headline {
      height: 75px;
      padding: 0 40px 0 32px;
      background: var(--border-primary);

      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-secondary);

      p{
        font-size: 14px;
      }
    }

    #column {
      height: 60px;
      padding: 0 48px 0 32px;
      background: var(--border-primary);

      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        width: 120px;
        font-size: 14px;

        &:nth-child(1) {
          width: 240px;
        }
      }
    }

    .content {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 48px 0 32px;

      &:nth-child(even) {
        background: var(--border-primary);
      }

      li {
        width: 120px;

        &.user {
          width: 240px;
          height: 50px;
          display: flex;
          align-items: center;
          gap: 8px;

          img {
            width: 36px;
            border-radius: 50%;
          }

          .name {
            width: calc(100% - 40px);

            h3 {
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            p {
              font-size: 10px;
              color: var(--text-many);
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          svg {
            margin: 0 4px;
          }
        }
      }
    }
  }
}
