#serie-home {
  min-height: 100svh;
  padding-top: 80px;
  position: relative;
  z-index: 1;

  display: flex;
  align-items: end;

  @media (max-width: 440px) {
    padding-top: 70px;
  }

  .container {
    padding: 0 48px !important;
    max-width: none !important;

    @media (max-width: 768px) {
      padding: 0 32px !important;
    }

    @media (max-width: 440px) {
      padding: 0 16px !important;
    }
  }

  .container .title {
    padding: 40px 0;
    position: relative;

    @media (max-width: 768px) {
      align-items: center;
    }

    @media (max-width: 440px) {
      padding: 24px 0;
    }

    &::before {
      content: "";
      width: 360px;
      height: 100%;
      position: absolute;
      z-index: -1;
      background-color: #0d0d0de6;
      filter: blur(100px);
    }

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    .logo {
      width: fit-content;
      max-height: 120px;
      filter: blur(20px);
      margin-bottom: 20px;

      @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
        max-height: 90px;
        margin-bottom: 14px;
      }

      @media (max-width: 768px) {
        max-height: 110px;
        margin-bottom: 14px;
      }

      @media (max-width: 440px) {
        max-height: 90px;
        margin-bottom: 14px;
      }

      &.unblur {
        filter: blur(0);
        animation: unblur 0.3s linear;

        @keyframes unblur {
          from {
            filter: blur(20px);
          }
          to {
            filter: blur(0);
          }
        }
      }
    }

    .credits {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 24px;

      @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
        margin-bottom: 16px;
        font-size: 12px;
        gap: 14px;
      }

      @media (max-width: 440px) {
        gap: 8px;
      }

      .release {
        border-radius: 10em;
        border: 1px solid #ffffff60;
        padding: 0px 12px;
        margin-right: 4px;

        @media (max-width: 440px) {
          display: none;
        }
      }

      .time {
        white-space: nowrap;
      }
    }

    p.description {
      margin-bottom: 24px;
      text-align: center;
      color: var(--text-color);
      opacity: 80%;
    }

    .watching {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      @media (max-width: 440px) {
        width: 100%;
      }

      .left {
        display: flex;
        align-items: center;
        gap: 16px;

        @media (max-width: 440px) {
          width: 100%;
        }

        button,
        a {
          min-width: 184px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 0 32px;
          white-space: nowrap;

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            width: 150px;
            height: 36px;
            font-size: 11px;
          }

          @media (max-width: 440px) {
            width: calc(100% - 60px);
            min-width: none !important;
          }

          border-radius: 40px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.9);
          backdrop-filter: blur(20px);
          color: black;
          font-weight: 600;
          font-size: 15px;

          &,
          * {
            cursor: pointer;
          }

          &:nth-child(2) {
            background: rgba(255, 255, 255, 0.1);
            color: white;
            font-weight: 500;

            @media (max-width: 440px) {
              padding: 0;
              min-width: auto;
              width: 44px;

              span {
                display: none;
              }
            }
          }

          &.next {
            padding: 0;
            min-width: auto;
            display: none;
            width: 44px;
            height: 44px;

            border-radius: 10em;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);
            color: black;
            font-weight: 600;
            font-size: 15px;

            svg {
              color: white;
              font-size: 24px;
              margin-left: 1px;
            }

            @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
              width: 36px;
              height: 36px;

              svg {
                font-size: 20px;
              }
            }

            @media (max-width: 768px) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 16px;

        @media (max-width: 768px) {
          display: none;

          &.active {
            width: 100%;
            display: flex;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;

          border-radius: 10em;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(20px);
          color: black;
          font-weight: 600;
          font-size: 15px;

          svg {
            color: white;
            font-size: 24px;
            margin-left: 1px;
          }

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            width: 36px;
            height: 36px;

            svg {
              font-size: 20px;
            }
          }

          @media (max-width: 768px) {
            display: none;
          }
        }

        a {
          min-width: 120px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 16px 32px;
          white-space: nowrap;

          @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
            width: 150px;
            height: 36px;
            font-size: 11px;
          }

          @media (max-width: 768px) {
            min-width: 184px;
          }

          @media (max-width: 440px) {
            width: 50%;
            min-width: auto !important;
          }

          border-radius: 40px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(20px);
          color: white;
          font-weight: 500;
          font-size: 15px;

          &,
          * {
            cursor: pointer;
          }

          &.selected {
            background: rgba(255, 255, 255, 0.9);
            color: black;
            font-weight: 600;
          }

          &.next {
            padding: 0;
            min-width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;

            border-radius: 10em;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);
            color: black;
            font-weight: 600;
            font-size: 15px;

            svg {
              color: white;
              font-size: 24px;
              margin-left: 1px;
            }

            @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
              width: 36px;
              height: 36px;

              svg {
                font-size: 20px;
              }
            }

            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
