#login {
  min-height: 100svh;
  position: relative;
  z-index: 1;
  padding: 50px 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1025px) and (min-width: 440px)  {
    padding: 12px 0;
  }

  @media (max-width: 440px) {
    padding: 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    *{
      cursor: pointer;
    }

    @media (max-width: 1025px) and (max-height: 601px)  {
      flex-direction: row;
      gap: 8px;
    }

    @media (max-width: 1025px) and (min-width: 440px)  {
      margin-bottom: 20px;
      gap: 12px;
    }

    img {
      margin-bottom: 16px;

      @media (max-width: 1025px) and (min-width: 440px)  {
        margin-bottom: 0;
        width: 40px;
      }

      @media (max-width: 440px) {
        width: 40px;
      }
    }

    p {
      color: #fff;
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;

      @media (max-width: 1025px) and (min-width: 440px)  {
        font-size: 24px;
      }

      @media (max-width: 440px) {
        font-size: 24px;
      }
    }
  }

  form {
    width: 584px;
    padding: 40px 48px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.08);

    background-image: url("/sign/dot.webp");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

    @media (max-width: 1025px) and (min-width: 600px)  {
      width: 468px;
      padding: 22px 32px;
      border-radius: 12px;
      gap: 12px;
    }

    @media (max-width: 1025px) and (max-height: 601px)  {
      margin-bottom: 8px;
    }

    @media (max-width: 600px)  {
      width: 408px;
      padding: 22px 28px;
      border-radius: 12px;
      gap: 12px;
    }

    @media (max-width: 440px) {
      width: 100%;
      padding: 0 16px;
      background: none;
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      gap: 16px;
    }

    label.user,
    label.password {
      width: 100%;

      p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 8px;

        @media (max-width: 1025px) and (min-width: 440px)  {
          font-size: 14px;
          margin-bottom: 4px;
        }
      }

      .wrapper {
        position: relative;

        svg {
          transform: translateY(-50%);
          position: absolute;
          top: 50%;
          left: 16px;

          @media (max-width: 1025px) and (min-width: 440px)  {
            left: 12px;
            width: 16px;
          }
        }

        input {
          width: 100%;
          display: flex;
          height: 40px;
          padding: 12px 16px 12px 48px;
          align-items: center;
          gap: 12px;

          border-radius: 6px;
          border: 1px solid rgba(255, 255, 255, 0.06);
          background: rgba(255, 255, 255, 0.08);

          @media (max-width: 1025px) and (min-width: 440px)  {
            font-size: 14px;
            padding: 8px 12px 8px 36px;
            height: 32px;
          }
        }
      }
    }

    label.remember {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        margin: 0;
      }
      input[type="checkbox"]:focus {
        outline: 0;
      }
      .cbx {
        width: 24px;
        height: 24px;
        transform: scale(0.6666666666666667);
      }
      .cbx input {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        background: rgba(255, 255, 255, 0.08);
        border-radius: 50%;
      }
      .cbx label {
        width: 24px;
        height: 24px;
        background: none;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transform: trasnlate3d(0, 0, 0);
        pointer-events: none;
      }
      .cbx svg {
        position: absolute;
        top: 5px;
        left: 4px;
        z-index: 1;
        pointer-events: none;
      }
      .cbx svg path {
        stroke: #fff;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 19;
        stroke-dashoffset: 19;
        transition: stroke-dashoffset 0.3s ease;
        transition-delay: 0.2s;
      }
      .cbx input:checked + label {
        animation: splash 0.6s ease forwards;
      }
      .cbx input:checked + label + svg path {
        stroke-dashoffset: 0;
      }
      @-moz-keyframes splash {
        40% {
          background: var(--main-color);
          box-shadow: 0 -18px 0 -8px var(--main-color),
            16px -8px 0 -8px var(--main-color),
            16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color),
            -16px 8px 0 -8px var(--main-color),
            -16px -8px 0 -8px var(--main-color);
        }
        100% {
          background: var(--main-color);
          box-shadow: 0 -36px 0 -10px transparent,
            32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent,
            0 36px 0 -10px transparent, -32px 16px 0 -10px transparent,
            -32px -16px 0 -10px transparent;
        }
      }
      @-webkit-keyframes splash {
        40% {
          background: var(--main-color);
          box-shadow: 0 -18px 0 -8px var(--main-color),
            16px -8px 0 -8px var(--main-color),
            16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color),
            -16px 8px 0 -8px var(--main-color),
            -16px -8px 0 -8px var(--main-color);
        }
        100% {
          background: var(--main-color);
          box-shadow: 0 -36px 0 -10px transparent,
            32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent,
            0 36px 0 -10px transparent, -32px 16px 0 -10px transparent,
            -32px -16px 0 -10px transparent;
        }
      }
      @-o-keyframes splash {
        40% {
          background: var(--main-color);
          box-shadow: 0 -18px 0 -8px var(--main-color),
            16px -8px 0 -8px var(--main-color),
            16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color),
            -16px 8px 0 -8px var(--main-color),
            -16px -8px 0 -8px var(--main-color);
        }
        100% {
          background: var(--main-color);
          box-shadow: 0 -36px 0 -10px transparent,
            32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent,
            0 36px 0 -10px transparent, -32px 16px 0 -10px transparent,
            -32px -16px 0 -10px transparent;
        }
      }
      @keyframes splash {
        40% {
          background: var(--main-color);
          box-shadow: 0 -18px 0 -8px var(--main-color),
            16px -8px 0 -8px var(--main-color),
            16px 8px 0 -8px var(--main-color), 0 18px 0 -8px var(--main-color),
            -16px 8px 0 -8px var(--main-color),
            -16px -8px 0 -8px var(--main-color);
        }
        100% {
          background: var(--main-color);
          box-shadow: 0 -36px 0 -10px transparent,
            32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent,
            0 36px 0 -10px transparent, -32px 16px 0 -10px transparent,
            -32px -16px 0 -10px transparent;
        }
      }

      .rememberme {
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding-top: 1.5px;

        @media (max-width: 1025px) and (min-width: 440px)  {
          font-size: 13px;
          margin-bottom: 1px;
        }
      }
    }

    button {
      margin-bottom: 8px;
      display: flex;
      height: 48px;
      padding: 10px 40px;
      justify-content: center;
      align-items: center;
      align-self: stretch;

      border-radius: 8px;
      background: var(--main-color);

      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      @media (max-width: 1025px) and (min-width: 440px)  {
        font-size: 15px;
        height: 40px;
      }

      &:hover {
        background: var(--main-click-color);
      }
    }

    p.have {
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;

      @media (max-width: 1025px) and (min-width: 440px)  {
        font-size: 13px;
      }

      a {
        color: var(--main-color);
        font-weight: 500;
        margin-left: 2px;

        &:hover {
          color: var(--main-click-color);
        }
      }
    }

    .providers-paragraph {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;

      @media (max-width: 1025px) and (min-width: 440px)  {
        font-size: 14px;
      }
    }

    .providers {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;

      .provider {
        width: 45%;
        display: flex;
        height: 44px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;

        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        background: rgba(255, 255, 255, 0.08);

        @media (max-width: 1025px) and (min-width: 440px)  {
          height: 36px;
          border-radius: 6px;
        }

        &,
        * {
          cursor: pointer;
        }

        &.google svg {
          @media (max-width: 1025px) and (min-width: 440px)  {
            width: 17px;
          }
        }
        svg {
          @media (max-width: 1025px) and (min-width: 440px)  {
            width: 16px;
            height: 16px;
          }
        }

        span {
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;

          @media (max-width: 1025px) and (min-width: 440px)  {
            font-size: 14px;
          }
        }
      }
    }

    .or {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      hr {
        width: 45%;
        border-color: rgba(255, 255, 255, 0.08);
      }

      span {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        font-variant: small-caps;

        @media (max-width: 1025px) and (min-width: 440px)  {
          font-size: 13px;
        }
      }
    }
  }

  footer {
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1025px) and (min-width: 600px)  {
      width: 464px;
    }

    @media (max-width: 1025px) and (max-height: 601px)  {
      display: none;
    }

    @media (max-width: 600px)  {
      width: 404px;
    }

    @media (max-width: 440px) {
      display: none;
    }

    ul.list {
      display: flex;
      align-items: center;
      gap: 8px;

      color: #64748b;
      font-size: 14px;
      line-height: 20px;

      li {
        cursor: pointer;
      }
    }

    .language {
      display: flex;
      align-items: center;
      gap: 4px;

      &,
      * {
        cursor: pointer;
      }

      span {
        color: #64748b;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
