.loader {
  @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
    transform: scale(0.75);
  }

  &_text {
    padding: 5px 0;
    color: var(--main-click-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Montserrat, sans-serif;
    background: #0d0d0d;
  }
  &_filmstrip {
    position: relative;
    width: 56px;
    height: 70px;
    background: var(--main-click-color);
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 120%;
      border-left: 5px dashed var(--background-color);
      animation: roll 20ms infinite;
    }
    &:before {
      left: 5px;
    }
    &:after {
      right: 5px;
    }
  }
}
@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}
