header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  top: 0;
  transition: 0.2s;
  padding: 0 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: 1024px) {
    height: 60px;
  }

  @media (max-width: 440px) {
    height: 70px;
    padding: 0 8px;
  }

  .logo {
    width: 110px;
    height: 70%;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: auto;
      height: 100%;
      cursor: pointer;
    }

    @media (max-width: 1024px) {
      transform: scale(0.8) translateX(-18px);
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      color: var(--main-click-color);
      cursor: pointer;
      transition: 0.2s;
    }
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 1024px) {
      transform: scale(0.8);
    }

    @media (max-width: 1024px) {
      display: none;
    }

    @media (max-width: 1024px) and (max-height: 576px) {
      display: flex;
    }

    li {
      &,
      * {
        cursor: pointer;
      }

      &.search {
        svg {
          font-size: 18px;
        }
      }
    }
  }

  // .search {
  //   input {
  //     width: 280px;
  //     border-radius: 40px;
  //     border: 1px solid #ffffff40;
  //     background: #0000001a;
  //     transition: 0.2s;
  //     padding: 8px 20px;
  //     font-size: 14px;
  //     cursor: text;
  //   }
  // }

  .account {
    @media (max-width: 1024px) {
      transform: scale(0.8) translateX(18px);
    }

    a {
      width: 110px;
      transition: 0.2s;
      color: #fff;
      padding: 8px 24px;
      border-radius: 10em;
      font-weight: 400;
      white-space: nowrap;
      transition: 0.2s ease;
      border: 1px solid rgba(255, 255, 255, 0.06);
      background: rgba(255, 255, 255, 0.08);

      &:hover {
        background: var(--main-color);
        border-color: var(--main-color);
      }
    }
  }

  &.active {
    background: #0d0d0d7d;
    backdrop-filter: blur(15px);
    height: 70px;

    @media (max-width: 1024px) {
      height: 50px;
    }

    @media (max-width: 440px) {
      height: 60px;
    }

    .logo h1 {
      font-size: 22px;
    }

    .account a {
      padding: 6px 24px;
    }
  }
}
