#hero {
  height: 100svh;
  max-height: 1050px;
  padding-top: 80px;
  position: relative;
  z-index: 1;

  @media (max-width: 1024px) {
    transform: scale(0.75);
  }

  @media (max-width: 441px) {
    transform: scale(0.85);
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      width: 480px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: #0d0d0d92;
        filter: blur(150px);
        border-radius: 50%;
      }

      img {
        max-width: 90%;
        margin-bottom: 18px;
      }

      .credits {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 15px;

        .release {
          border-radius: 10em;
          border: 1.5px solid var(--medium-color);
          padding: 0px 12px;
          font-size: 14px;
          margin-right: 2px;
          white-space: nowrap;
        }

        p {
          white-space: nowrap;
        }
      }

      .description {
        text-align: center;
        font-size: 13px;
        margin-bottom: 20px;
        text-wrap: balance;
      }

      .watching {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
          min-width: 190px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 0 32px;
          white-space: nowrap;

          border-radius: 40px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.9);
          backdrop-filter: blur(20px);
          color: black;
          font-weight: 500;
          font-size: 15px;

          &:last-child {
            background: rgba(255, 255, 255, 0.1);
            color: white;
            font-weight: 400;
          }

          svg,
          svg path,
          span {
            cursor: pointer;
          }
        }

        @media (max-width: 441px) {
          gap: 8px;
        }
      }
    }
  }
}
