#series {
  min-height: 80vh;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;

  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 0 4px;
  }

  .wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 12px 4px;

    .series {
      display: flex;
      gap: 12px;

      .card {
        width: 400px;
        height: 225px;
        border: 1px solid #222;
        border-radius: 6px;
        cursor: pointer;

        background-image: url("https://firebasestorage.googleapis.com/v0/b/moviegouz.appspot.com/o/movies%2Fmarvel%2FKapitan%20Amerika%20(Birinchi%20Qasoskor)%2Fpreview.webp?alt=media&token=d9c8120f-bc2a-4f51-af07-2b9a7a722d91");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: 0.2s;

        &:nth-child(even) {
          background-image: url("https://firebasestorage.googleapis.com/v0/b/moviegouz.appspot.com/o/movies%2Fmarvel%2FKapitan%20Marvel%2Fpreview.webp?alt=media&token=d8649417-23fd-471f-838c-5d96d7c671ba");
        }

        &:hover {
          background-size: 102%;
          transform: scale(1.02);
        }
      }
    }
  }
}
