main {
  height: 100%;
  display: flex;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 48px 0 24px;

    @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
      max-width: none;
      padding: 50px 50px 0;
    }

    @media (max-width: 441px) {
      max-width: none;
      padding: 70px 16px;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 24px;
    }

    #title {
      position: relative;

      @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
        transform: scale(0.8) translateX(-20px);
      }

      h1 {
        font-size: 240px;
        font-weight: 700;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        color: #1b27356b;

        @media (max-width: 441px) {
          font-size: 200px;
          left: 50%;
          transform: translate(-50%, -50%)!important;
        }
      }

      h2 {
        line-height: 120%;
        font-size: 72px;
        font-weight: 500;
        padding-left: 24px;

        @media (max-width: 441px) {
          font-size: 54px;
          text-align: center;
          padding-left: 0;
        }
      }

      h3 {
        font-size: 54px;
        font-weight: 500;
        margin-bottom: 8px;
        padding-left: 24px;

        @media (max-width: 441px) {
          font-size: 28px;
          text-align: center;
          padding-left: 0;
        }
      }

      p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
        padding-left: 24px;

        @media (max-width: 441px) {
          font-size: 14px;
          text-align: center;
          padding-left: 0;
        }
      }

      a {
        width: fit-content;
        padding: 0 24px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        color: white;
        font-weight: 400;
        font-size: 14px;
        margin-left: 24px;

        @media (max-width: 441px) {
          margin: 0 auto;
        }

        * {
          cursor: pointer;
        }

        svg{
          font-size: 17px;
        }

        span{
          line-height: 200%;

        }
      }
    }

    #image {
      @media (max-width: 1024px) and (max-height: 576px) and (min-width: 440px) {
        transform: scale(0.65);
      }

      @media (max-width: 441px) {
        width: 200px;
      }
    }
  }

  #animate {
    position: absolute;
    z-index: -1;

    #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      animation: animStar 50s linear infinite;

      box-shadow: 779px 1331px #fff7, 324px 42px #fff7, 303px 586px #fff7,
        1312px 276px #fff7, 451px 625px #fff7, 521px 1931px #fff7,
        1087px 1871px #fff7, 36px 1546px #fff7, 132px 934px #fff7,
        1698px 901px #fff7, 1418px 664px #fff7, 1448px 1157px #fff7,
        1084px 232px #fff7, 347px 1776px #fff7, 1722px 243px #fff7,
        1629px 835px #fff7, 479px 969px #fff7, 1231px 960px #fff7,
        586px 384px #fff7, 164px 527px #fff7, 8px 646px #fff7,
        1150px 1126px #fff7, 665px 1357px #fff7, 1556px 1982px #fff7,
        1260px 1961px #fff7, 1675px 1741px #fff7, 1843px 1514px #fff7,
        718px 1628px #fff7, 242px 1343px #fff7, 1497px 1880px #fff7,
        1364px 230px #fff7, 1739px 1302px #fff7, 636px 959px #fff7,
        304px 686px #fff7, 614px 751px #fff7, 1935px 816px #fff7,
        1428px 60px #fff7, 355px 335px #fff7, 1594px 158px #fff7,
        90px 60px #fff7, 1553px 162px #fff7, 1239px 1825px #fff7,
        1945px 587px #fff7, 749px 1785px #fff7, 1987px 1172px #fff7,
        1301px 1237px #fff7, 1039px 342px #fff7, 1585px 1481px #fff7,
        995px 1048px #fff7, 524px 932px #fff7, 214px 413px #fff7,
        1701px 1300px #fff7, 1037px 1613px #fff7, 1871px 996px #fff7,
        1360px 1635px #fff7, 1110px 1313px #fff7, 412px 1783px #fff7,
        1949px 177px #fff7, 903px 1854px #fff7, 700px 1936px #fff7,
        378px 125px #fff7, 308px 834px #fff7, 1118px 962px #fff7,
        1350px 1929px #fff7, 781px 1811px #fff7, 561px 137px #fff7,
        757px 1148px #fff7, 1670px 1979px #fff7, 343px 739px #fff7,
        945px 795px #fff7, 576px 1903px #fff7, 1078px 1436px #fff7,
        1583px 450px #fff7, 1366px 474px #fff7, 297px 1873px #fff7,
        192px 162px #fff7, 1624px 1633px #fff7, 59px 453px #fff7,
        82px 1872px #fff7, 1933px 498px #fff7, 1966px 1974px #fff7,
        1975px 1688px #fff7, 779px 314px #fff7, 1858px 1543px #fff7,
        73px 1507px #fff7, 1693px 975px #fff7, 1683px 108px #fff7,
        1768px 1654px #fff7, 654px 14px #fff7, 494px 171px #fff7,
        1689px 1895px #fff7, 1660px 263px #fff7, 1031px 903px #fff7,
        1203px 1393px #fff7, 1333px 1421px #fff7, 1113px 41px #fff7,
        1206px 1645px #fff7, 1325px 1635px #fff7, 142px 388px #fff7,
        572px 215px #fff7, 1535px 296px #fff7, 1419px 407px #fff7,
        1379px 1003px #fff7, 329px 469px #fff7, 1791px 1652px #fff7,
        935px 1802px #fff7, 1330px 1820px #fff7, 421px 1933px #fff7,
        828px 365px #fff7, 275px 316px #fff7, 707px 960px #fff7,
        1605px 1554px #fff7, 625px 58px #fff7, 717px 1697px #fff7,
        1669px 246px #fff7, 1925px 322px #fff7, 1154px 1803px #fff7,
        1929px 295px #fff7, 1248px 240px #fff7, 1045px 1755px #fff7,
        166px 942px #fff7, 1888px 1773px #fff7, 678px 1963px #fff7,
        1370px 569px #fff7, 1974px 1400px #fff7, 1786px 460px #fff7,
        51px 307px #fff7, 784px 1400px #fff7, 730px 1258px #fff7,
        1712px 393px #fff7, 416px 170px #fff7, 1797px 1932px #fff7,
        572px 219px #fff7, 1557px 1856px #fff7, 218px 8px #fff7,
        348px 1334px #fff7, 469px 413px #fff7, 385px 1738px #fff7,
        1357px 1818px #fff7, 240px 942px #fff7, 248px 1847px #fff7,
        1535px 806px #fff7, 236px 1514px #fff7, 1429px 1556px #fff7,
        73px 1633px #fff7, 1398px 1121px #fff7, 671px 1301px #fff7,
        1404px 1663px #fff7, 740px 1018px #fff7, 1600px 377px #fff7,
        785px 514px #fff7, 112px 1084px #fff7, 1915px 1887px #fff7,
        1463px 1848px #fff7, 687px 1115px #fff7, 1268px 1768px #fff7,
        1729px 1425px #fff7, 1284px 1022px #fff7, 801px 974px #fff7,
        1975px 1317px #fff7, 1354px 834px #fff7, 1446px 1484px #fff7,
        1283px 1786px #fff7, 11px 523px #fff7, 1842px 236px #fff7,
        1355px 654px #fff7, 429px 7px #fff7, 1033px 1128px #fff7,
        157px 297px #fff7, 545px 635px #fff7, 52px 1080px #fff7,
        827px 1520px #fff7, 1121px 490px #fff7, 9px 309px #fff7,
        1744px 1586px #fff7, 1014px 417px #fff7, 1534px 524px #fff7,
        958px 552px #fff7, 1403px 1496px #fff7, 387px 703px #fff7,
        1522px 548px #fff7, 1355px 282px #fff7, 1532px 601px #fff7,
        1838px 790px #fff7, 290px 259px #fff7, 295px 598px #fff7,
        1601px 539px #fff7, 1561px 1272px #fff7, 34px 1922px #fff7,
        1024px 543px #fff7, 467px 369px #fff7, 722px 333px #fff7,
        1976px 1255px #fff7, 766px 983px #fff7, 1582px 1285px #fff7,
        12px 512px #fff7, 617px 1410px #fff7, 682px 577px #fff7,
        1334px 1438px #fff7, 439px 327px #fff7, 1617px 1661px #fff7,
        673px 129px #fff7, 794px 941px #fff7, 1386px 1902px #fff7,
        37px 1353px #fff7, 1467px 1353px #fff7, 416px 18px #fff7,
        187px 344px #fff7, 200px 1898px #fff7, 1491px 1619px #fff7,
        811px 347px #fff7, 924px 1827px #fff7, 945px 217px #fff7,
        1735px 1228px #fff7, 379px 1890px #fff7, 79px 761px #fff7,
        825px 1837px #fff7, 1980px 1558px #fff7, 1308px 1573px #fff7,
        1488px 1726px #fff7, 382px 1208px #fff7, 522px 595px #fff7,
        1277px 1898px #fff7, 354px 552px #fff7, 161px 1784px #fff7,
        614px 251px #fff7, 526px 1576px #fff7, 17px 212px #fff7,
        179px 996px #fff7, 467px 1208px #fff7, 1944px 1838px #fff7,
        1140px 1093px #fff7, 858px 1007px #fff7, 200px 1064px #fff7,
        423px 1964px #fff7, 1945px 439px #fff7, 1377px 689px #fff7,
        1120px 1437px #fff7, 1876px 668px #fff7, 907px 1324px #fff7,
        343px 1976px #fff7, 1816px 1501px #fff7, 1849px 177px #fff7,
        647px 91px #fff7, 1984px 1012px #fff7, 1336px 1300px #fff7,
        128px 648px #fff7, 305px 1060px #fff7, 1324px 826px #fff7,
        1263px 1314px #fff7, 1801px 629px #fff7, 1614px 1555px #fff7,
        1634px 90px #fff7, 1603px 452px #fff7, 891px 1984px #fff7,
        1556px 1906px #fff7, 121px 68px #fff7, 1676px 1714px #fff7,
        516px 936px #fff7, 1947px 1492px #fff7, 1455px 1519px #fff7,
        45px 602px #fff7, 205px 1039px #fff7, 793px 172px #fff7,
        1562px 1739px #fff7, 1056px 110px #fff7, 1512px 379px #fff7,
        1795px 1621px #fff7, 1848px 607px #fff7, 262px 1719px #fff7,
        477px 991px #fff7, 483px 883px #fff7, 1239px 1197px #fff7,
        1496px 647px #fff7, 1649px 25px #fff7, 1491px 1946px #fff7,
        119px 996px #fff7, 179px 1472px #fff7, 1341px 808px #fff7,
        1565px 1700px #fff7, 407px 1544px #fff7, 1754px 357px #fff7,
        1288px 981px #fff7, 902px 1997px #fff7, 1755px 1668px #fff7,
        186px 877px #fff7, 1202px 1882px #fff7, 461px 1213px #fff7,
        1400px 748px #fff7, 1969px 1899px #fff7, 809px 522px #fff7,
        514px 1219px #fff7, 374px 275px #fff7, 938px 1973px #fff7,
        357px 552px #fff7, 144px 1722px #fff7, 1572px 912px #fff7,
        402px 1858px #fff7, 1544px 1195px #fff7, 667px 1257px #fff7,
        727px 1496px #fff7, 993px 232px #fff7, 1772px 313px #fff7,
        1040px 1590px #fff7, 1204px 1973px #fff7, 1268px 79px #fff7,
        1555px 1048px #fff7, 986px 1707px #fff7, 978px 1710px #fff7,
        713px 360px #fff7, 407px 863px #fff7, 461px 736px #fff7,
        284px 1608px #fff7, 103px 430px #fff7, 1283px 1319px #fff7,
        977px 1186px #fff7, 1966px 1516px #fff7, 1287px 1129px #fff7,
        70px 1098px #fff7, 1189px 889px #fff7, 1126px 1734px #fff7,
        309px 1292px #fff7, 879px 764px #fff7, 65px 473px #fff7,
        1003px 1959px #fff7, 658px 791px #fff7, 402px 1576px #fff7,
        35px 622px #fff7, 529px 1589px #fff7, 164px 666px #fff7,
        1876px 1290px #fff7, 1541px 526px #fff7, 270px 1297px #fff7,
        440px 865px #fff7, 1500px 802px #fff7, 182px 1754px #fff7,
        1264px 892px #fff7, 272px 1249px #fff7, 1289px 1535px #fff7,
        190px 1646px #fff7, 955px 242px #fff7, 1456px 1597px #fff7,
        1727px 1983px #fff7, 635px 801px #fff7, 226px 455px #fff7,
        1396px 1710px #fff7, 849px 1863px #fff7, 237px 1264px #fff7,
        839px 140px #fff7, 1122px 735px #fff7, 1280px 15px #fff7,
        1318px 242px #fff7, 1819px 1148px #fff7, 333px 1392px #fff7,
        1949px 553px #fff7, 1878px 1332px #fff7, 467px 548px #fff7,
        1812px 1082px #fff7, 1067px 193px #fff7, 243px 156px #fff7,
        483px 1616px #fff7, 1714px 933px #fff7, 759px 1800px #fff7,
        1822px 995px #fff7, 1877px 572px #fff7, 581px 1084px #fff7,
        107px 732px #fff7, 642px 1837px #fff7, 166px 1493px #fff7,
        1555px 198px #fff7, 819px 307px #fff7, 947px 345px #fff7,
        827px 224px #fff7, 927px 1394px #fff7, 540px 467px #fff7,
        1093px 405px #fff7, 1140px 927px #fff7, 130px 529px #fff7,
        33px 1980px #fff7, 1147px 1663px #fff7, 1616px 1436px #fff7,
        528px 710px #fff7, 798px 1100px #fff7, 505px 1480px #fff7,
        899px 641px #fff7, 1909px 1949px #fff7, 1311px 964px #fff7,
        979px 1301px #fff7, 1393px 969px #fff7, 1793px 1886px #fff7,
        292px 357px #fff7, 1196px 1718px #fff7, 1290px 1994px #fff7,
        537px 1973px #fff7, 1181px 1674px #fff7, 1740px 1566px #fff7,
        1307px 265px #fff7, 922px 522px #fff7, 1892px 472px #fff7,
        384px 1746px #fff7, 392px 1098px #fff7, 647px 548px #fff7,
        390px 1498px #fff7, 1246px 138px #fff7, 730px 876px #fff7,
        192px 1472px #fff7, 1790px 1789px #fff7, 928px 311px #fff7,
        1253px 1647px #fff7, 747px 1921px #fff7, 1561px 1025px #fff7,
        1533px 1292px #fff7, 1985px 195px #fff7, 728px 729px #fff7,
        1712px 1936px #fff7, 512px 1717px #fff7, 1528px 483px #fff7,
        313px 1642px #fff7, 281px 1849px #fff7, 1212px 799px #fff7,
        435px 1191px #fff7, 1422px 611px #fff7, 1718px 1964px #fff7,
        411px 944px #fff7, 210px 636px #fff7, 1502px 1295px #fff7,
        1434px 349px #fff7, 769px 60px #fff7, 747px 1053px #fff7,
        789px 504px #fff7, 1436px 1264px #fff7, 1893px 1225px #fff7,
        1394px 1788px #fff7, 1108px 1317px #fff7, 1673px 1395px #fff7,
        854px 1010px #fff7, 1705px 80px #fff7, 1858px 148px #fff7,
        1729px 344px #fff7, 1388px 664px #fff7, 895px 406px #fff7,
        1479px 157px #fff7, 1441px 1157px #fff7, 552px 1900px #fff7,
        516px 364px #fff7, 1647px 189px #fff7, 1427px 1071px #fff7,
        785px 729px #fff7, 1080px 1710px #fff7, 504px 204px #fff7,
        1177px 1622px #fff7, 657px 34px #fff7, 1296px 1099px #fff7,
        248px 180px #fff7, 1212px 1568px #fff7, 667px 1562px #fff7,
        695px 841px #fff7, 1608px 1247px #fff7, 751px 882px #fff7,
        87px 167px #fff7, 607px 1368px #fff7, 1363px 1203px #fff7,
        1836px 317px #fff7, 1668px 1703px #fff7, 830px 1154px #fff7,
        1721px 1398px #fff7, 1601px 1280px #fff7, 976px 874px #fff7,
        1743px 254px #fff7, 1020px 1815px #fff7, 1670px 1766px #fff7,
        1890px 735px #fff7, 1379px 136px #fff7, 1864px 695px #fff7,
        206px 965px #fff7, 1404px 1932px #fff7, 1923px 1360px #fff7,
        247px 682px #fff7, 519px 1708px #fff7, 645px 750px #fff7,
        1164px 1204px #fff7, 834px 323px #fff7, 172px 1350px #fff7,
        213px 972px #fff7, 1837px 190px #fff7, 285px 1806px #fff7,
        1047px 1299px #fff7, 1548px 825px #fff7, 1730px 324px #fff7,
        1346px 1909px #fff7, 772px 270px #fff7, 345px 1190px #fff7,
        478px 1433px #fff7, 1479px 25px #fff7, 1994px 1830px #fff7,
        1744px 732px #fff7, 20px 1635px #fff7, 690px 1795px #fff7,
        1594px 569px #fff7, 579px 245px #fff7, 1398px 733px #fff7,
        408px 1352px #fff7, 1774px 120px #fff7, 1152px 1370px #fff7,
        1698px 1810px #fff7, 710px 1450px #fff7, 665px 286px #fff7,
        493px 1720px #fff7, 786px 5px #fff7, 637px 1140px #fff7,
        764px 324px #fff7, 927px 310px #fff7, 938px 1424px #fff7,
        1884px 744px #fff7, 913px 462px #fff7, 1831px 1936px #fff7,
        1527px 249px #fff7, 36px 1381px #fff7, 1597px 581px #fff7,
        1530px 355px #fff7, 949px 459px #fff7, 799px 828px #fff7,
        242px 1471px #fff7, 654px 797px #fff7, 796px 594px #fff7,
        1365px 678px #fff7, 752px 23px #fff7, 1630px 541px #fff7,
        982px 72px #fff7, 1733px 1831px #fff7, 21px 412px #fff7,
        775px 998px #fff7, 335px 1945px #fff7, 264px 583px #fff7,
        158px 1311px #fff7, 528px 164px #fff7, 1978px 574px #fff7,
        717px 1203px #fff7, 734px 1591px #fff7, 1555px 820px #fff7,
        16px 1943px #fff7, 1625px 1177px #fff7, 1236px 690px #fff7,
        1585px 1590px #fff7, 1737px 1728px #fff7, 721px 698px #fff7,
        1804px 1186px #fff7, 166px 980px #fff7, 1850px 230px #fff7,
        330px 1712px #fff7, 95px 797px #fff7, 1948px 1078px #fff7,
        469px 939px #fff7, 1269px 1899px #fff7, 955px 1220px #fff7,
        1137px 1075px #fff7, 312px 1293px #fff7, 986px 1762px #fff7,
        1103px 1238px #fff7, 428px 1993px #fff7, 355px 570px #fff7,
        977px 1836px #fff7, 1395px 1092px #fff7, 276px 913px #fff7,
        1743px 656px #fff7, 773px 502px #fff7, 1686px 1322px #fff7,
        1516px 1945px #fff7, 1334px 501px #fff7, 266px 156px #fff7,
        455px 655px #fff7, 798px 72px #fff7, 1059px 1259px #fff7,
        1402px 1687px #fff7, 236px 1329px #fff7, 1455px 786px #fff7,
        146px 1228px #fff7, 1851px 823px #fff7, 1062px 100px #fff7,
        1220px 953px #fff7, 20px 1826px #fff7, 36px 1063px #fff7,
        1525px 338px #fff7, 790px 1521px #fff7, 741px 1099px #fff7,
        288px 1489px #fff7, 700px 1060px #fff7, 390px 1071px #fff7,
        411px 1036px #fff7, 1853px 1072px #fff7, 1446px 1085px #fff7,
        1164px 874px #fff7, 924px 925px #fff7, 291px 271px #fff7,
        1257px 1964px #fff7, 1580px 1352px #fff7, 1507px 1216px #fff7,
        211px 956px #fff7, 985px 1195px #fff7, 975px 1640px #fff7,
        518px 101px #fff7, 663px 1395px #fff7, 914px 532px #fff7,
        145px 1320px #fff7, 69px 1397px #fff7, 982px 523px #fff7,
        257px 725px #fff7, 1599px 831px #fff7, 1636px 1513px #fff7,
        1250px 1158px #fff7, 1132px 604px #fff7, 183px 102px #fff7,
        1057px 318px #fff7, 1247px 1835px #fff7, 1983px 1110px #fff7,
        1077px 1455px #fff7, 921px 1770px #fff7, 806px 1350px #fff7,
        1938px 1992px #fff7, 855px 1260px #fff7, 902px 1345px #fff7,
        658px 1908px #fff7, 1845px 679px #fff7, 712px 1482px #fff7,
        595px 950px #fff7, 1784px 1992px #fff7, 1847px 1785px #fff7,
        691px 1004px #fff7, 175px 1179px #fff7, 1666px 1911px #fff7,
        41px 61px #fff7, 971px 1080px #fff7, 1830px 1450px #fff7,
        1351px 1518px #fff7, 1257px 99px #fff7, 1395px 1498px #fff7,
        1117px 252px #fff7, 1779px 597px #fff7, 1346px 729px #fff7,
        1108px 1144px #fff7, 402px 691px #fff7, 72px 496px #fff7,
        1673px 1604px #fff7, 1497px 974px #fff7, 1865px 1664px #fff7,
        88px 806px #fff7, 918px 77px #fff7, 244px 1118px #fff7,
        256px 1820px #fff7, 1851px 1840px #fff7, 605px 1851px #fff7,
        634px 383px #fff7, 865px 37px #fff7, 943px 1024px #fff7,
        1951px 177px #fff7, 1097px 523px #fff7, 985px 1700px #fff7,
        1243px 122px #fff7, 768px 1070px #fff7, 468px 194px #fff7,
        320px 1867px #fff7, 1850px 185px #fff7, 380px 1616px #fff7,
        468px 1294px #fff7, 1122px 1743px #fff7, 884px 299px #fff7,
        1300px 1917px #fff7, 1860px 396px #fff7, 1270px 990px #fff7,
        529px 733px #fff7, 1975px 1347px #fff7, 1885px 685px #fff7,
        226px 506px #fff7, 651px 878px #fff7, 1323px 680px #fff7,
        1284px 680px #fff7, 238px 1967px #fff7, 911px 174px #fff7,
        1111px 521px #fff7, 1150px 85px #fff7, 794px 502px #fff7,
        484px 1856px #fff7, 1809px 368px #fff7, 112px 953px #fff7,
        590px 1009px #fff7, 1655px 311px #fff7, 100px 1026px #fff7,
        1803px 352px #fff7, 865px 306px #fff7, 1077px 1019px #fff7,
        1335px 872px #fff7, 1647px 1298px #fff7, 1233px 1387px #fff7,
        698px 1036px #fff7, 659px 1860px #fff7, 388px 1412px #fff7,
        1212px 458px #fff7, 755px 1468px #fff7, 696px 1654px #fff7,
        1144px 60px #fff7;

      &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;

        box-shadow: 779px 1331px #fff7, 324px 42px #fff7, 303px 586px #fff7,
          1312px 276px #fff7, 451px 625px #fff7, 521px 1931px #fff7,
          1087px 1871px #fff7, 36px 1546px #fff7, 132px 934px #fff7,
          1698px 901px #fff7, 1418px 664px #fff7, 1448px 1157px #fff7,
          1084px 232px #fff7, 347px 1776px #fff7, 1722px 243px #fff7,
          1629px 835px #fff7, 479px 969px #fff7, 1231px 960px #fff7,
          586px 384px #fff7, 164px 527px #fff7, 8px 646px #fff7,
          1150px 1126px #fff7, 665px 1357px #fff7, 1556px 1982px #fff7,
          1260px 1961px #fff7, 1675px 1741px #fff7, 1843px 1514px #fff7,
          718px 1628px #fff7, 242px 1343px #fff7, 1497px 1880px #fff7,
          1364px 230px #fff7, 1739px 1302px #fff7, 636px 959px #fff7,
          304px 686px #fff7, 614px 751px #fff7, 1935px 816px #fff7,
          1428px 60px #fff7, 355px 335px #fff7, 1594px 158px #fff7,
          90px 60px #fff7, 1553px 162px #fff7, 1239px 1825px #fff7,
          1945px 587px #fff7, 749px 1785px #fff7, 1987px 1172px #fff7,
          1301px 1237px #fff7, 1039px 342px #fff7, 1585px 1481px #fff7,
          995px 1048px #fff7, 524px 932px #fff7, 214px 413px #fff7,
          1701px 1300px #fff7, 1037px 1613px #fff7, 1871px 996px #fff7,
          1360px 1635px #fff7, 1110px 1313px #fff7, 412px 1783px #fff7,
          1949px 177px #fff7, 903px 1854px #fff7, 700px 1936px #fff7,
          378px 125px #fff7, 308px 834px #fff7, 1118px 962px #fff7,
          1350px 1929px #fff7, 781px 1811px #fff7, 561px 137px #fff7,
          757px 1148px #fff7, 1670px 1979px #fff7, 343px 739px #fff7,
          945px 795px #fff7, 576px 1903px #fff7, 1078px 1436px #fff7,
          1583px 450px #fff7, 1366px 474px #fff7, 297px 1873px #fff7,
          192px 162px #fff7, 1624px 1633px #fff7, 59px 453px #fff7,
          82px 1872px #fff7, 1933px 498px #fff7, 1966px 1974px #fff7,
          1975px 1688px #fff7, 779px 314px #fff7, 1858px 1543px #fff7,
          73px 1507px #fff7, 1693px 975px #fff7, 1683px 108px #fff7,
          1768px 1654px #fff7, 654px 14px #fff7, 494px 171px #fff7,
          1689px 1895px #fff7, 1660px 263px #fff7, 1031px 903px #fff7,
          1203px 1393px #fff7, 1333px 1421px #fff7, 1113px 41px #fff7,
          1206px 1645px #fff7, 1325px 1635px #fff7, 142px 388px #fff7,
          572px 215px #fff7, 1535px 296px #fff7, 1419px 407px #fff7,
          1379px 1003px #fff7, 329px 469px #fff7, 1791px 1652px #fff7,
          935px 1802px #fff7, 1330px 1820px #fff7, 421px 1933px #fff7,
          828px 365px #fff7, 275px 316px #fff7, 707px 960px #fff7,
          1605px 1554px #fff7, 625px 58px #fff7, 717px 1697px #fff7,
          1669px 246px #fff7, 1925px 322px #fff7, 1154px 1803px #fff7,
          1929px 295px #fff7, 1248px 240px #fff7, 1045px 1755px #fff7,
          166px 942px #fff7, 1888px 1773px #fff7, 678px 1963px #fff7,
          1370px 569px #fff7, 1974px 1400px #fff7, 1786px 460px #fff7,
          51px 307px #fff7, 784px 1400px #fff7, 730px 1258px #fff7,
          1712px 393px #fff7, 416px 170px #fff7, 1797px 1932px #fff7,
          572px 219px #fff7, 1557px 1856px #fff7, 218px 8px #fff7,
          348px 1334px #fff7, 469px 413px #fff7, 385px 1738px #fff7,
          1357px 1818px #fff7, 240px 942px #fff7, 248px 1847px #fff7,
          1535px 806px #fff7, 236px 1514px #fff7, 1429px 1556px #fff7,
          73px 1633px #fff7, 1398px 1121px #fff7, 671px 1301px #fff7,
          1404px 1663px #fff7, 740px 1018px #fff7, 1600px 377px #fff7,
          785px 514px #fff7, 112px 1084px #fff7, 1915px 1887px #fff7,
          1463px 1848px #fff7, 687px 1115px #fff7, 1268px 1768px #fff7,
          1729px 1425px #fff7, 1284px 1022px #fff7, 801px 974px #fff7,
          1975px 1317px #fff7, 1354px 834px #fff7, 1446px 1484px #fff7,
          1283px 1786px #fff7, 11px 523px #fff7, 1842px 236px #fff7,
          1355px 654px #fff7, 429px 7px #fff7, 1033px 1128px #fff7,
          157px 297px #fff7, 545px 635px #fff7, 52px 1080px #fff7,
          827px 1520px #fff7, 1121px 490px #fff7, 9px 309px #fff7,
          1744px 1586px #fff7, 1014px 417px #fff7, 1534px 524px #fff7,
          958px 552px #fff7, 1403px 1496px #fff7, 387px 703px #fff7,
          1522px 548px #fff7, 1355px 282px #fff7, 1532px 601px #fff7,
          1838px 790px #fff7, 290px 259px #fff7, 295px 598px #fff7,
          1601px 539px #fff7, 1561px 1272px #fff7, 34px 1922px #fff7,
          1024px 543px #fff7, 467px 369px #fff7, 722px 333px #fff7,
          1976px 1255px #fff7, 766px 983px #fff7, 1582px 1285px #fff7,
          12px 512px #fff7, 617px 1410px #fff7, 682px 577px #fff7,
          1334px 1438px #fff7, 439px 327px #fff7, 1617px 1661px #fff7,
          673px 129px #fff7, 794px 941px #fff7, 1386px 1902px #fff7,
          37px 1353px #fff7, 1467px 1353px #fff7, 416px 18px #fff7,
          187px 344px #fff7, 200px 1898px #fff7, 1491px 1619px #fff7,
          811px 347px #fff7, 924px 1827px #fff7, 945px 217px #fff7,
          1735px 1228px #fff7, 379px 1890px #fff7, 79px 761px #fff7,
          825px 1837px #fff7, 1980px 1558px #fff7, 1308px 1573px #fff7,
          1488px 1726px #fff7, 382px 1208px #fff7, 522px 595px #fff7,
          1277px 1898px #fff7, 354px 552px #fff7, 161px 1784px #fff7,
          614px 251px #fff7, 526px 1576px #fff7, 17px 212px #fff7,
          179px 996px #fff7, 467px 1208px #fff7, 1944px 1838px #fff7,
          1140px 1093px #fff7, 858px 1007px #fff7, 200px 1064px #fff7,
          423px 1964px #fff7, 1945px 439px #fff7, 1377px 689px #fff7,
          1120px 1437px #fff7, 1876px 668px #fff7, 907px 1324px #fff7,
          343px 1976px #fff7, 1816px 1501px #fff7, 1849px 177px #fff7,
          647px 91px #fff7, 1984px 1012px #fff7, 1336px 1300px #fff7,
          128px 648px #fff7, 305px 1060px #fff7, 1324px 826px #fff7,
          1263px 1314px #fff7, 1801px 629px #fff7, 1614px 1555px #fff7,
          1634px 90px #fff7, 1603px 452px #fff7, 891px 1984px #fff7,
          1556px 1906px #fff7, 121px 68px #fff7, 1676px 1714px #fff7,
          516px 936px #fff7, 1947px 1492px #fff7, 1455px 1519px #fff7,
          45px 602px #fff7, 205px 1039px #fff7, 793px 172px #fff7,
          1562px 1739px #fff7, 1056px 110px #fff7, 1512px 379px #fff7,
          1795px 1621px #fff7, 1848px 607px #fff7, 262px 1719px #fff7,
          477px 991px #fff7, 483px 883px #fff7, 1239px 1197px #fff7,
          1496px 647px #fff7, 1649px 25px #fff7, 1491px 1946px #fff7,
          119px 996px #fff7, 179px 1472px #fff7, 1341px 808px #fff7,
          1565px 1700px #fff7, 407px 1544px #fff7, 1754px 357px #fff7,
          1288px 981px #fff7, 902px 1997px #fff7, 1755px 1668px #fff7,
          186px 877px #fff7, 1202px 1882px #fff7, 461px 1213px #fff7,
          1400px 748px #fff7, 1969px 1899px #fff7, 809px 522px #fff7,
          514px 1219px #fff7, 374px 275px #fff7, 938px 1973px #fff7,
          357px 552px #fff7, 144px 1722px #fff7, 1572px 912px #fff7,
          402px 1858px #fff7, 1544px 1195px #fff7, 667px 1257px #fff7,
          727px 1496px #fff7, 993px 232px #fff7, 1772px 313px #fff7,
          1040px 1590px #fff7, 1204px 1973px #fff7, 1268px 79px #fff7,
          1555px 1048px #fff7, 986px 1707px #fff7, 978px 1710px #fff7,
          713px 360px #fff7, 407px 863px #fff7, 461px 736px #fff7,
          284px 1608px #fff7, 103px 430px #fff7, 1283px 1319px #fff7,
          977px 1186px #fff7, 1966px 1516px #fff7, 1287px 1129px #fff7,
          70px 1098px #fff7, 1189px 889px #fff7, 1126px 1734px #fff7,
          309px 1292px #fff7, 879px 764px #fff7, 65px 473px #fff7,
          1003px 1959px #fff7, 658px 791px #fff7, 402px 1576px #fff7,
          35px 622px #fff7, 529px 1589px #fff7, 164px 666px #fff7,
          1876px 1290px #fff7, 1541px 526px #fff7, 270px 1297px #fff7,
          440px 865px #fff7, 1500px 802px #fff7, 182px 1754px #fff7,
          1264px 892px #fff7, 272px 1249px #fff7, 1289px 1535px #fff7,
          190px 1646px #fff7, 955px 242px #fff7, 1456px 1597px #fff7,
          1727px 1983px #fff7, 635px 801px #fff7, 226px 455px #fff7,
          1396px 1710px #fff7, 849px 1863px #fff7, 237px 1264px #fff7,
          839px 140px #fff7, 1122px 735px #fff7, 1280px 15px #fff7,
          1318px 242px #fff7, 1819px 1148px #fff7, 333px 1392px #fff7,
          1949px 553px #fff7, 1878px 1332px #fff7, 467px 548px #fff7,
          1812px 1082px #fff7, 1067px 193px #fff7, 243px 156px #fff7,
          483px 1616px #fff7, 1714px 933px #fff7, 759px 1800px #fff7,
          1822px 995px #fff7, 1877px 572px #fff7, 581px 1084px #fff7,
          107px 732px #fff7, 642px 1837px #fff7, 166px 1493px #fff7,
          1555px 198px #fff7, 819px 307px #fff7, 947px 345px #fff7,
          827px 224px #fff7, 927px 1394px #fff7, 540px 467px #fff7,
          1093px 405px #fff7, 1140px 927px #fff7, 130px 529px #fff7,
          33px 1980px #fff7, 1147px 1663px #fff7, 1616px 1436px #fff7,
          528px 710px #fff7, 798px 1100px #fff7, 505px 1480px #fff7,
          899px 641px #fff7, 1909px 1949px #fff7, 1311px 964px #fff7,
          979px 1301px #fff7, 1393px 969px #fff7, 1793px 1886px #fff7,
          292px 357px #fff7, 1196px 1718px #fff7, 1290px 1994px #fff7,
          537px 1973px #fff7, 1181px 1674px #fff7, 1740px 1566px #fff7,
          1307px 265px #fff7, 922px 522px #fff7, 1892px 472px #fff7,
          384px 1746px #fff7, 392px 1098px #fff7, 647px 548px #fff7,
          390px 1498px #fff7, 1246px 138px #fff7, 730px 876px #fff7,
          192px 1472px #fff7, 1790px 1789px #fff7, 928px 311px #fff7,
          1253px 1647px #fff7, 747px 1921px #fff7, 1561px 1025px #fff7,
          1533px 1292px #fff7, 1985px 195px #fff7, 728px 729px #fff7,
          1712px 1936px #fff7, 512px 1717px #fff7, 1528px 483px #fff7,
          313px 1642px #fff7, 281px 1849px #fff7, 1212px 799px #fff7,
          435px 1191px #fff7, 1422px 611px #fff7, 1718px 1964px #fff7,
          411px 944px #fff7, 210px 636px #fff7, 1502px 1295px #fff7,
          1434px 349px #fff7, 769px 60px #fff7, 747px 1053px #fff7,
          789px 504px #fff7, 1436px 1264px #fff7, 1893px 1225px #fff7,
          1394px 1788px #fff7, 1108px 1317px #fff7, 1673px 1395px #fff7,
          854px 1010px #fff7, 1705px 80px #fff7, 1858px 148px #fff7,
          1729px 344px #fff7, 1388px 664px #fff7, 895px 406px #fff7,
          1479px 157px #fff7, 1441px 1157px #fff7, 552px 1900px #fff7,
          516px 364px #fff7, 1647px 189px #fff7, 1427px 1071px #fff7,
          785px 729px #fff7, 1080px 1710px #fff7, 504px 204px #fff7,
          1177px 1622px #fff7, 657px 34px #fff7, 1296px 1099px #fff7,
          248px 180px #fff7, 1212px 1568px #fff7, 667px 1562px #fff7,
          695px 841px #fff7, 1608px 1247px #fff7, 751px 882px #fff7,
          87px 167px #fff7, 607px 1368px #fff7, 1363px 1203px #fff7,
          1836px 317px #fff7, 1668px 1703px #fff7, 830px 1154px #fff7,
          1721px 1398px #fff7, 1601px 1280px #fff7, 976px 874px #fff7,
          1743px 254px #fff7, 1020px 1815px #fff7, 1670px 1766px #fff7,
          1890px 735px #fff7, 1379px 136px #fff7, 1864px 695px #fff7,
          206px 965px #fff7, 1404px 1932px #fff7, 1923px 1360px #fff7,
          247px 682px #fff7, 519px 1708px #fff7, 645px 750px #fff7,
          1164px 1204px #fff7, 834px 323px #fff7, 172px 1350px #fff7,
          213px 972px #fff7, 1837px 190px #fff7, 285px 1806px #fff7,
          1047px 1299px #fff7, 1548px 825px #fff7, 1730px 324px #fff7,
          1346px 1909px #fff7, 772px 270px #fff7, 345px 1190px #fff7,
          478px 1433px #fff7, 1479px 25px #fff7, 1994px 1830px #fff7,
          1744px 732px #fff7, 20px 1635px #fff7, 690px 1795px #fff7,
          1594px 569px #fff7, 579px 245px #fff7, 1398px 733px #fff7,
          408px 1352px #fff7, 1774px 120px #fff7, 1152px 1370px #fff7,
          1698px 1810px #fff7, 710px 1450px #fff7, 665px 286px #fff7,
          493px 1720px #fff7, 786px 5px #fff7, 637px 1140px #fff7,
          764px 324px #fff7, 927px 310px #fff7, 938px 1424px #fff7,
          1884px 744px #fff7, 913px 462px #fff7, 1831px 1936px #fff7,
          1527px 249px #fff7, 36px 1381px #fff7, 1597px 581px #fff7,
          1530px 355px #fff7, 949px 459px #fff7, 799px 828px #fff7,
          242px 1471px #fff7, 654px 797px #fff7, 796px 594px #fff7,
          1365px 678px #fff7, 752px 23px #fff7, 1630px 541px #fff7,
          982px 72px #fff7, 1733px 1831px #fff7, 21px 412px #fff7,
          775px 998px #fff7, 335px 1945px #fff7, 264px 583px #fff7,
          158px 1311px #fff7, 528px 164px #fff7, 1978px 574px #fff7,
          717px 1203px #fff7, 734px 1591px #fff7, 1555px 820px #fff7,
          16px 1943px #fff7, 1625px 1177px #fff7, 1236px 690px #fff7,
          1585px 1590px #fff7, 1737px 1728px #fff7, 721px 698px #fff7,
          1804px 1186px #fff7, 166px 980px #fff7, 1850px 230px #fff7,
          330px 1712px #fff7, 95px 797px #fff7, 1948px 1078px #fff7,
          469px 939px #fff7, 1269px 1899px #fff7, 955px 1220px #fff7,
          1137px 1075px #fff7, 312px 1293px #fff7, 986px 1762px #fff7,
          1103px 1238px #fff7, 428px 1993px #fff7, 355px 570px #fff7,
          977px 1836px #fff7, 1395px 1092px #fff7, 276px 913px #fff7,
          1743px 656px #fff7, 773px 502px #fff7, 1686px 1322px #fff7,
          1516px 1945px #fff7, 1334px 501px #fff7, 266px 156px #fff7,
          455px 655px #fff7, 798px 72px #fff7, 1059px 1259px #fff7,
          1402px 1687px #fff7, 236px 1329px #fff7, 1455px 786px #fff7,
          146px 1228px #fff7, 1851px 823px #fff7, 1062px 100px #fff7,
          1220px 953px #fff7, 20px 1826px #fff7, 36px 1063px #fff7,
          1525px 338px #fff7, 790px 1521px #fff7, 741px 1099px #fff7,
          288px 1489px #fff7, 700px 1060px #fff7, 390px 1071px #fff7,
          411px 1036px #fff7, 1853px 1072px #fff7, 1446px 1085px #fff7,
          1164px 874px #fff7, 924px 925px #fff7, 291px 271px #fff7,
          1257px 1964px #fff7, 1580px 1352px #fff7, 1507px 1216px #fff7,
          211px 956px #fff7, 985px 1195px #fff7, 975px 1640px #fff7,
          518px 101px #fff7, 663px 1395px #fff7, 914px 532px #fff7,
          145px 1320px #fff7, 69px 1397px #fff7, 982px 523px #fff7,
          257px 725px #fff7, 1599px 831px #fff7, 1636px 1513px #fff7,
          1250px 1158px #fff7, 1132px 604px #fff7, 183px 102px #fff7,
          1057px 318px #fff7, 1247px 1835px #fff7, 1983px 1110px #fff7,
          1077px 1455px #fff7, 921px 1770px #fff7, 806px 1350px #fff7,
          1938px 1992px #fff7, 855px 1260px #fff7, 902px 1345px #fff7,
          658px 1908px #fff7, 1845px 679px #fff7, 712px 1482px #fff7,
          595px 950px #fff7, 1784px 1992px #fff7, 1847px 1785px #fff7,
          691px 1004px #fff7, 175px 1179px #fff7, 1666px 1911px #fff7,
          41px 61px #fff7, 971px 1080px #fff7, 1830px 1450px #fff7,
          1351px 1518px #fff7, 1257px 99px #fff7, 1395px 1498px #fff7,
          1117px 252px #fff7, 1779px 597px #fff7, 1346px 729px #fff7,
          1108px 1144px #fff7, 402px 691px #fff7, 72px 496px #fff7,
          1673px 1604px #fff7, 1497px 974px #fff7, 1865px 1664px #fff7,
          88px 806px #fff7, 918px 77px #fff7, 244px 1118px #fff7,
          256px 1820px #fff7, 1851px 1840px #fff7, 605px 1851px #fff7,
          634px 383px #fff7, 865px 37px #fff7, 943px 1024px #fff7,
          1951px 177px #fff7, 1097px 523px #fff7, 985px 1700px #fff7,
          1243px 122px #fff7, 768px 1070px #fff7, 468px 194px #fff7,
          320px 1867px #fff7, 1850px 185px #fff7, 380px 1616px #fff7,
          468px 1294px #fff7, 1122px 1743px #fff7, 884px 299px #fff7,
          1300px 1917px #fff7, 1860px 396px #fff7, 1270px 990px #fff7,
          529px 733px #fff7, 1975px 1347px #fff7, 1885px 685px #fff7,
          226px 506px #fff7, 651px 878px #fff7, 1323px 680px #fff7,
          1284px 680px #fff7, 238px 1967px #fff7, 911px 174px #fff7,
          1111px 521px #fff7, 1150px 85px #fff7, 794px 502px #fff7,
          484px 1856px #fff7, 1809px 368px #fff7, 112px 953px #fff7,
          590px 1009px #fff7, 1655px 311px #fff7, 100px 1026px #fff7,
          1803px 352px #fff7, 865px 306px #fff7, 1077px 1019px #fff7,
          1335px 872px #fff7, 1647px 1298px #fff7, 1233px 1387px #fff7,
          698px 1036px #fff7, 659px 1860px #fff7, 388px 1412px #fff7,
          1212px 458px #fff7, 755px 1468px #fff7, 696px 1654px #fff7,
          1144px 60px #fff7;
      }
    }

    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      animation: animStar 100s linear infinite;

      box-shadow: 1448px 320px #fff7, 1775px 1663px #fff7, 332px 1364px #fff7,
        878px 340px #fff7, 569px 1832px #fff7, 1422px 1684px #fff7,
        1946px 1907px #fff7, 121px 979px #fff7, 1044px 1069px #fff7,
        463px 381px #fff7, 423px 112px #fff7, 523px 1179px #fff7,
        779px 654px #fff7, 1398px 694px #fff7, 1085px 1464px #fff7,
        1599px 1869px #fff7, 801px 1882px #fff7, 779px 1231px #fff7,
        552px 932px #fff7, 1057px 1196px #fff7, 282px 1280px #fff7,
        496px 1986px #fff7, 1833px 1120px #fff7, 1802px 1293px #fff7,
        6px 1696px #fff7, 412px 1902px #fff7, 605px 438px #fff7,
        24px 1212px #fff7, 234px 1320px #fff7, 544px 344px #fff7,
        1107px 170px #fff7, 1603px 196px #fff7, 905px 648px #fff7,
        68px 1458px #fff7, 649px 1969px #fff7, 744px 675px #fff7,
        1127px 478px #fff7, 714px 1814px #fff7, 1486px 526px #fff7,
        270px 1636px #fff7, 1931px 149px #fff7, 1807px 378px #fff7,
        8px 390px #fff7, 1415px 699px #fff7, 1473px 1211px #fff7,
        1590px 141px #fff7, 270px 1705px #fff7, 69px 1423px #fff7,
        1108px 1053px #fff7, 1946px 128px #fff7, 371px 371px #fff7,
        1490px 220px #fff7, 357px 1885px #fff7, 363px 363px #fff7,
        1896px 1256px #fff7, 1979px 1050px #fff7, 947px 1342px #fff7,
        1754px 242px #fff7, 514px 974px #fff7, 65px 1477px #fff7,
        1840px 547px #fff7, 950px 695px #fff7, 459px 1150px #fff7,
        1124px 1502px #fff7, 481px 940px #fff7, 680px 839px #fff7,
        797px 1169px #fff7, 1977px 1491px #fff7, 734px 1724px #fff7,
        210px 298px #fff7, 816px 628px #fff7, 686px 770px #fff7,
        1721px 267px #fff7, 1663px 511px #fff7, 1481px 1141px #fff7,
        582px 248px #fff7, 1308px 953px #fff7, 628px 657px #fff7,
        897px 1535px #fff7, 270px 931px #fff7, 791px 467px #fff7,
        1336px 1732px #fff7, 1013px 1653px #fff7, 1911px 956px #fff7,
        587px 816px #fff7, 83px 456px #fff7, 930px 1478px #fff7,
        1587px 1694px #fff7, 614px 1200px #fff7, 302px 1782px #fff7,
        1711px 1432px #fff7, 443px 904px #fff7, 1666px 714px #fff7,
        1588px 1167px #fff7, 273px 1075px #fff7, 1679px 461px #fff7,
        721px 664px #fff7, 1202px 10px #fff7, 166px 1126px #fff7,
        331px 1628px #fff7, 430px 1565px #fff7, 1585px 509px #fff7,
        640px 38px #fff7, 822px 837px #fff7, 1760px 1664px #fff7,
        1122px 1458px #fff7, 398px 131px #fff7, 689px 285px #fff7,
        460px 652px #fff7, 1627px 365px #fff7, 348px 1648px #fff7,
        819px 1946px #fff7, 981px 1917px #fff7, 323px 76px #fff7,
        979px 684px #fff7, 887px 536px #fff7, 1348px 1596px #fff7,
        1055px 666px #fff7, 1402px 1797px #fff7, 1300px 1055px #fff7,
        937px 238px #fff7, 1474px 1815px #fff7, 1144px 1710px #fff7,
        1629px 1087px #fff7, 911px 919px #fff7, 771px 819px #fff7,
        403px 720px #fff7, 163px 736px #fff7, 1062px 238px #fff7,
        1774px 818px #fff7, 1874px 1178px #fff7, 1177px 699px #fff7,
        1244px 1244px #fff7, 1371px 58px #fff7, 564px 1515px #fff7,
        1824px 487px #fff7, 929px 702px #fff7, 394px 1348px #fff7,
        1161px 641px #fff7, 219px 1841px #fff7, 358px 941px #fff7,
        140px 1759px #fff7, 1019px 1345px #fff7, 274px 436px #fff7,
        1433px 1605px #fff7, 1798px 1426px #fff7, 294px 1848px #fff7,
        1681px 1877px #fff7, 1344px 1824px #fff7, 1439px 1632px #fff7,
        161px 1012px #fff7, 1308px 588px #fff7, 1789px 582px #fff7,
        721px 1910px #fff7, 318px 218px #fff7, 607px 319px #fff7,
        495px 535px #fff7, 1552px 1575px #fff7, 1562px 67px #fff7,
        403px 926px #fff7, 1096px 1800px #fff7, 1814px 1709px #fff7,
        1882px 1831px #fff7, 533px 46px #fff7, 823px 969px #fff7,
        530px 165px #fff7, 1030px 352px #fff7, 1681px 313px #fff7,
        338px 115px #fff7, 1607px 211px #fff7, 1718px 1184px #fff7,
        1589px 659px #fff7, 278px 355px #fff7, 464px 1464px #fff7,
        1165px 277px #fff7, 950px 694px #fff7, 1746px 293px #fff7,
        793px 911px #fff7, 528px 773px #fff7, 1883px 1694px #fff7,
        748px 182px #fff7, 1924px 1531px #fff7, 100px 636px #fff7,
        1473px 1445px #fff7, 1264px 1244px #fff7, 850px 1377px #fff7,
        987px 1976px #fff7, 933px 1761px #fff7, 922px 1270px #fff7,
        500px 396px #fff7, 1324px 8px #fff7, 1967px 1814px #fff7,
        1072px 1401px #fff7, 961px 37px #fff7, 156px 81px #fff7,
        1915px 502px #fff7, 1076px 1846px #fff7, 152px 1669px #fff7,
        986px 1529px #fff7, 1667px 1137px #fff7;

      &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;

        box-shadow: 1448px 320px #fff7, 1775px 1663px #fff7, 332px 1364px #fff7,
          878px 340px #fff7, 569px 1832px #fff7, 1422px 1684px #fff7,
          1946px 1907px #fff7, 121px 979px #fff7, 1044px 1069px #fff7,
          463px 381px #fff7, 423px 112px #fff7, 523px 1179px #fff7,
          779px 654px #fff7, 1398px 694px #fff7, 1085px 1464px #fff7,
          1599px 1869px #fff7, 801px 1882px #fff7, 779px 1231px #fff7,
          552px 932px #fff7, 1057px 1196px #fff7, 282px 1280px #fff7,
          496px 1986px #fff7, 1833px 1120px #fff7, 1802px 1293px #fff7,
          6px 1696px #fff7, 412px 1902px #fff7, 605px 438px #fff7,
          24px 1212px #fff7, 234px 1320px #fff7, 544px 344px #fff7,
          1107px 170px #fff7, 1603px 196px #fff7, 905px 648px #fff7,
          68px 1458px #fff7, 649px 1969px #fff7, 744px 675px #fff7,
          1127px 478px #fff7, 714px 1814px #fff7, 1486px 526px #fff7,
          270px 1636px #fff7, 1931px 149px #fff7, 1807px 378px #fff7,
          8px 390px #fff7, 1415px 699px #fff7, 1473px 1211px #fff7,
          1590px 141px #fff7, 270px 1705px #fff7, 69px 1423px #fff7,
          1108px 1053px #fff7, 1946px 128px #fff7, 371px 371px #fff7,
          1490px 220px #fff7, 357px 1885px #fff7, 363px 363px #fff7,
          1896px 1256px #fff7, 1979px 1050px #fff7, 947px 1342px #fff7,
          1754px 242px #fff7, 514px 974px #fff7, 65px 1477px #fff7,
          1840px 547px #fff7, 950px 695px #fff7, 459px 1150px #fff7,
          1124px 1502px #fff7, 481px 940px #fff7, 680px 839px #fff7,
          797px 1169px #fff7, 1977px 1491px #fff7, 734px 1724px #fff7,
          210px 298px #fff7, 816px 628px #fff7, 686px 770px #fff7,
          1721px 267px #fff7, 1663px 511px #fff7, 1481px 1141px #fff7,
          582px 248px #fff7, 1308px 953px #fff7, 628px 657px #fff7,
          897px 1535px #fff7, 270px 931px #fff7, 791px 467px #fff7,
          1336px 1732px #fff7, 1013px 1653px #fff7, 1911px 956px #fff7,
          587px 816px #fff7, 83px 456px #fff7, 930px 1478px #fff7,
          1587px 1694px #fff7, 614px 1200px #fff7, 302px 1782px #fff7,
          1711px 1432px #fff7, 443px 904px #fff7, 1666px 714px #fff7,
          1588px 1167px #fff7, 273px 1075px #fff7, 1679px 461px #fff7,
          721px 664px #fff7, 1202px 10px #fff7, 166px 1126px #fff7,
          331px 1628px #fff7, 430px 1565px #fff7, 1585px 509px #fff7,
          640px 38px #fff7, 822px 837px #fff7, 1760px 1664px #fff7,
          1122px 1458px #fff7, 398px 131px #fff7, 689px 285px #fff7,
          460px 652px #fff7, 1627px 365px #fff7, 348px 1648px #fff7,
          819px 1946px #fff7, 981px 1917px #fff7, 323px 76px #fff7,
          979px 684px #fff7, 887px 536px #fff7, 1348px 1596px #fff7,
          1055px 666px #fff7, 1402px 1797px #fff7, 1300px 1055px #fff7,
          937px 238px #fff7, 1474px 1815px #fff7, 1144px 1710px #fff7,
          1629px 1087px #fff7, 911px 919px #fff7, 771px 819px #fff7,
          403px 720px #fff7, 163px 736px #fff7, 1062px 238px #fff7,
          1774px 818px #fff7, 1874px 1178px #fff7, 1177px 699px #fff7,
          1244px 1244px #fff7, 1371px 58px #fff7, 564px 1515px #fff7,
          1824px 487px #fff7, 929px 702px #fff7, 394px 1348px #fff7,
          1161px 641px #fff7, 219px 1841px #fff7, 358px 941px #fff7,
          140px 1759px #fff7, 1019px 1345px #fff7, 274px 436px #fff7,
          1433px 1605px #fff7, 1798px 1426px #fff7, 294px 1848px #fff7,
          1681px 1877px #fff7, 1344px 1824px #fff7, 1439px 1632px #fff7,
          161px 1012px #fff7, 1308px 588px #fff7, 1789px 582px #fff7,
          721px 1910px #fff7, 318px 218px #fff7, 607px 319px #fff7,
          495px 535px #fff7, 1552px 1575px #fff7, 1562px 67px #fff7,
          403px 926px #fff7, 1096px 1800px #fff7, 1814px 1709px #fff7,
          1882px 1831px #fff7, 533px 46px #fff7, 823px 969px #fff7,
          530px 165px #fff7, 1030px 352px #fff7, 1681px 313px #fff7,
          338px 115px #fff7, 1607px 211px #fff7, 1718px 1184px #fff7,
          1589px 659px #fff7, 278px 355px #fff7, 464px 1464px #fff7,
          1165px 277px #fff7, 950px 694px #fff7, 1746px 293px #fff7,
          793px 911px #fff7, 528px 773px #fff7, 1883px 1694px #fff7,
          748px 182px #fff7, 1924px 1531px #fff7, 100px 636px #fff7,
          1473px 1445px #fff7, 1264px 1244px #fff7, 850px 1377px #fff7,
          987px 1976px #fff7, 933px 1761px #fff7, 922px 1270px #fff7,
          500px 396px #fff7, 1324px 8px #fff7, 1967px 1814px #fff7,
          1072px 1401px #fff7, 961px 37px #fff7, 156px 81px #fff7,
          1915px 502px #fff7, 1076px 1846px #fff7, 152px 1669px #fff7,
          986px 1529px #fff7, 1667px 1137px #fff7;
      }
    }

    #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      animation: animStar 150s linear infinite;

      box-shadow: 387px 1878px #fff7, 760px 1564px #fff7, 1487px 999px #fff7,
        948px 1828px #fff7, 1977px 1001px #fff7, 1284px 1963px #fff7,
        656px 284px #fff7, 1268px 1635px #fff7, 1820px 598px #fff7,
        642px 1900px #fff7, 296px 57px #fff7, 921px 1620px #fff7,
        476px 1858px #fff7, 658px 613px #fff7, 1171px 1363px #fff7,
        1419px 283px #fff7, 1037px 731px #fff7, 503px 663px #fff7,
        1562px 463px #fff7, 383px 1197px #fff7, 1171px 1233px #fff7,
        876px 1768px #fff7, 856px 1615px #fff7, 1375px 1924px #fff7,
        1725px 918px #fff7, 952px 119px #fff7, 768px 1212px #fff7,
        992px 1462px #fff7, 1929px 717px #fff7, 1947px 755px #fff7,
        1818px 1123px #fff7, 1896px 1672px #fff7, 460px 198px #fff7,
        256px 271px #fff7, 752px 544px #fff7, 1222px 1859px #fff7,
        1851px 443px #fff7, 313px 1858px #fff7, 709px 446px #fff7,
        1546px 697px #fff7, 674px 1155px #fff7, 1112px 130px #fff7,
        355px 1790px #fff7, 1496px 974px #fff7, 1696px 480px #fff7,
        1316px 1265px #fff7, 1645px 1063px #fff7, 1182px 237px #fff7,
        427px 1582px #fff7, 859px 253px #fff7, 458px 939px #fff7,
        1517px 1644px #fff7, 1943px 60px #fff7, 212px 1650px #fff7,
        966px 1786px #fff7, 473px 712px #fff7, 130px 76px #fff7,
        1417px 1186px #fff7, 909px 1580px #fff7, 1913px 762px #fff7,
        204px 1143px #fff7, 1998px 1057px #fff7, 1468px 1301px #fff7,
        144px 1676px #fff7, 21px 1601px #fff7, 382px 1362px #fff7,
        912px 753px #fff7, 1488px 1405px #fff7, 802px 156px #fff7,
        174px 550px #fff7, 338px 1366px #fff7, 1197px 774px #fff7,
        602px 486px #fff7, 682px 1877px #fff7, 348px 1503px #fff7,
        407px 1139px #fff7, 950px 1400px #fff7, 922px 1139px #fff7,
        1697px 293px #fff7, 1238px 1281px #fff7, 1038px 1197px #fff7,
        376px 1889px #fff7, 1255px 1680px #fff7, 1008px 1316px #fff7,
        1538px 1447px #fff7, 1186px 874px #fff7, 1967px 640px #fff7,
        1341px 19px #fff7, 29px 1732px #fff7, 16px 1650px #fff7,
        1021px 1075px #fff7, 723px 424px #fff7, 1175px 41px #fff7,
        494px 1957px #fff7, 1296px 431px #fff7, 175px 1507px #fff7,
        831px 121px #fff7, 498px 1947px #fff7, 617px 880px #fff7,
        240px 403px #fff7;

      &:after {
        content: "";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;

        box-shadow: 387px 1878px #fff7, 760px 1564px #fff7, 1487px 999px #fff7,
          948px 1828px #fff7, 1977px 1001px #fff7, 1284px 1963px #fff7,
          656px 284px #fff7, 1268px 1635px #fff7, 1820px 598px #fff7,
          642px 1900px #fff7, 296px 57px #fff7, 921px 1620px #fff7,
          476px 1858px #fff7, 658px 613px #fff7, 1171px 1363px #fff7,
          1419px 283px #fff7, 1037px 731px #fff7, 503px 663px #fff7,
          1562px 463px #fff7, 383px 1197px #fff7, 1171px 1233px #fff7,
          876px 1768px #fff7, 856px 1615px #fff7, 1375px 1924px #fff7,
          1725px 918px #fff7, 952px 119px #fff7, 768px 1212px #fff7,
          992px 1462px #fff7, 1929px 717px #fff7, 1947px 755px #fff7,
          1818px 1123px #fff7, 1896px 1672px #fff7, 460px 198px #fff7,
          256px 271px #fff7, 752px 544px #fff7, 1222px 1859px #fff7,
          1851px 443px #fff7, 313px 1858px #fff7, 709px 446px #fff7,
          1546px 697px #fff7, 674px 1155px #fff7, 1112px 130px #fff7,
          355px 1790px #fff7, 1496px 974px #fff7, 1696px 480px #fff7,
          1316px 1265px #fff7, 1645px 1063px #fff7, 1182px 237px #fff7,
          427px 1582px #fff7, 859px 253px #fff7, 458px 939px #fff7,
          1517px 1644px #fff7, 1943px 60px #fff7, 212px 1650px #fff7,
          966px 1786px #fff7, 473px 712px #fff7, 130px 76px #fff7,
          1417px 1186px #fff7, 909px 1580px #fff7, 1913px 762px #fff7,
          204px 1143px #fff7, 1998px 1057px #fff7, 1468px 1301px #fff7,
          144px 1676px #fff7, 21px 1601px #fff7, 382px 1362px #fff7,
          912px 753px #fff7, 1488px 1405px #fff7, 802px 156px #fff7,
          174px 550px #fff7, 338px 1366px #fff7, 1197px 774px #fff7,
          602px 486px #fff7, 682px 1877px #fff7, 348px 1503px #fff7,
          407px 1139px #fff7, 950px 1400px #fff7, 922px 1139px #fff7,
          1697px 293px #fff7, 1238px 1281px #fff7, 1038px 1197px #fff7,
          376px 1889px #fff7, 1255px 1680px #fff7, 1008px 1316px #fff7,
          1538px 1447px #fff7, 1186px 874px #fff7, 1967px 640px #fff7,
          1341px 19px #fff7, 29px 1732px #fff7, 16px 1650px #fff7,
          1021px 1075px #fff7, 723px 424px #fff7, 1175px 41px #fff7,
          494px 1957px #fff7, 1296px 431px #fff7, 175px 1507px #fff7,
          831px 121px #fff7, 498px 1947px #fff7, 617px 880px #fff7,
          240px 403px #fff7;
      }
    }

    @keyframes animStar {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-2000px);
      }
    }
  }
}
